.lith {
	opacity: .7;
}

.C {
  fill: tan;
}

.G {
  fill:  #ddff99;
}

.Y {
  fill: #F0E68C;
}

.S {
  fill: pink;
}

.I {
  fill: #F0F8FF;
}

.B {
  fill: lightgray;
}

.D {
  fill: Aqua;
}

.L {
  fill: Lavender ;
}

.A {
  fill: darkgray ;
}

.T {
  fill: LightSeaGreen  ;
}



