body {
      text-align: center;
    }
div.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  background: lightgrey;
  opacity: 0;
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  /*stroke-width: .5px;*/
}


#lith-col {
width: 100px;

}

/*.main {
  background-color: lightgray;
  border-radius: 10px;
}*/

.main {
  background: url(../images/vintage_paper.jpg) transparent  5px 5px;
}

.column{
  border-radius: 20px;
}

.depth-label .tick line{
  visibility: hidden;
}

.depth-label .tick text{
  text-anchor: middle;
}

.depth-label .domain{
  visibility: hidden;
}

.y-axis .tick text{
  /*visibility: hidden;*/
}

.y-axis .tick line{
  /*stroke-dasharray: 4,1;*/
  /*stroke-width: .5;*/
  opacity: 1;
}

.red {
  stroke: red;
  color: red;
}

.y-axis .domain {
  visibility: hidden;
}

.depth-label {
/*  stroke: red;
  transform: translate(15px, 10px);
  transform: rotate(45deg);*/
}

.mud-msg {
  font-size: 12px;
}





