body {
      text-align: center;
    }
div.tooltip {
  position: absolute;
  top: 100px;
  left: 100px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 1em;
  background: lightgrey;
  opacity: 0;
}

.line {
  fill: none;
  /*stroke: steelblue;*/
  /*stroke-width: .5px;*/
}


#lith-col {
width: 100px;

}

/*.main {
  background-color: lightgray;
  border-radius: 10px;
}*/

.main {
  background: url(../images/vintage_paper.jpg) transparent  5px 5px;
  background-color: whitesmoke;
}

.column{
  border-radius: 20px;
}

.depth-label .tick line{
  visibility: hidden;
}

.depth-label .tick text{
  text-anchor: middle;
}

.depth-label .domain{
  visibility: hidden;
}

.y-axis .tick text{
  /*visibility: hidden;*/
}

.y-axis .tick line{
  /*stroke-dasharray: 4,1;*/
  /*stroke-width: .5;*/
  opacity: 1;
}

.red {
  stroke: red;
  color: red;
}

.y-axis .domain {
  visibility: hidden;
}

.depth-label {
/*  stroke: red;
  transform: translate(15px, 10px);
  transform: rotate(45deg);*/
}

.mud-msg {
  font-size: 12px;
}

:root {
    --annotation-color: #E8336D;
}

.annotation path {
  stroke: var(--annotation-color);
  fill: none;
}

.annotation text,
.annotation .annotation-connector .connector-dot,
.annotation path.connector-arrow,
.annotation.callout.rect path.subject{
  fill: var(--annotation-color);
}

.annotation-note-title {
  font-weight: bold;
}

.annotation-note-bg {
  fill: rgba(255, 255, 255, 0);
}

.annotation.callout.rect path.subject{
  fill-opacity: .1;
}

.annotation.badge path.subject-pointer, .annotation.badge path.subject {
  fill: var(--annotation-color);
  stroke-width: 3px;
  stroke-linecap: round;
}

.annotation.badge path.subject-ring {
  fill: white;
  stroke-width: 3px;
}

.annotation.badge .badge-text {
  fill: white;
  font-size: .7em;
}

/* Handling edit mode styles */
.editable .annotation-subject, .editable .annotation-note {
  cursor: move;
}

circle.handle {
  /*stroke-dasharray: 5;*/
  /*stroke: var(--annotation-color);*/
  fill: rgba(255, 255, 255, .2);
  /*fill: none;*/
  cursor: move;

  stroke-opacity: .4;
}




